RewriteEngine On

# Définir la racine du projet
RewriteBase /

# Laisser Apache gérer les fichiers HTML, CSS, JS et images
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Si le fichier ou dossier n'existe pas, rediriger vers index.php (ou index.html)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
